# Risk Parity

### Background



### Summary




#### Gold
Gold has long been considered a "safe-haven" asset, often retaining value or even appreciating during times of economic uncertainty, inflation, or market volatility. Its value doesn't typically move in direct correlation with stock or bond markets, making it a useful tool for diversification and risk management. In a risk parity portfolio, gold can serve to balance out the risks associated with more volatile assets, providing stability and preserving capital during downturns.

#### Bitcoin
Bitcoin, on the other hand, represents a more volatile and relatively newer asset class often categorized as "digital gold" or a speculative investment. However, its distinct market behavior, potential for high returns, and increasing acceptance as a legitimate investment option allow it to serve a unique role in a risk parity strategy. Bitcoin's low correlation with traditional asset classes like stocks and bonds can contribute to diversification. Moreover, for investors willing to accept higher volatility for the chance of higher returns, Bitcoin can offer a counterbalance to the more stable portions of the portfolio, like gold and bonds.

#### Combining Gold and Bitcoin in Risk Parity
Incorporating both gold and Bitcoin into a risk parity portfolio leverages their distinct characteristics â€” gold's stability and Bitcoin's growth potential. The idea is not to predict which asset will perform better but to allocate assets in a way that each contributes equally to the portfolio's risk profile. This can mean adjusting the allocation to gold to counterbalance the higher volatility of Bitcoin, thereby achieving a more stable and diversified investment portfolio.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
from datetime import datetime
from datetime import timedelta
from dateutil import rrule
import time

import plotly.graph_objects as go

### Data Uploading

In [12]:
SPY = pd.read_csv('Historical_Data_Prices_Cleaned/SPY.csv')
GLD = pd.read_csv('Historical_Data_Prices_Cleaned/GLD.csv')
BTC_USD = pd.read_csv('Historical_Data_Prices_Cleaned/BTC_USD.csv')

In [13]:

# Ensure 'Date' columns are in datetime format for all dataframes
SPY['Date'] = pd.to_datetime(SPY['Date'])
BTC_USD['Date'] = pd.to_datetime(BTC_USD['Date'])
GLD['Date'] = pd.to_datetime(GLD['Date'])

# Merging the dataframes based on the 'Date' column
# Using an outer join to ensure all dates are included even if one asset does not have a corresponding entry
merged_df = VOO[['Date', 'Close']].rename(columns={'Close': 'SPY'}).merge(
    BTC_USD[['Date', 'Close']].rename(columns={'Close': 'BTC_USD'}), on='Date', how='outer').merge(
    GLD[['Date', 'Close']].rename(columns={'Close': 'GLD'}), on='Date', how='outer')

# Sorting by date to ensure the data is in chronological order
merged_df.sort_values(by='Date', inplace=True)

# Showing the first few rows to verify the merge
merged_df.head(), merged_df.tail()

(           Date  SPY  BTC_USD        GLD
 4444 2004-11-18  NaN      NaN  44.380001
 4445 2004-11-19  NaN      NaN  44.779999
 4446 2004-11-22  NaN      NaN  44.950001
 4447 2004-11-23  NaN      NaN  44.750000
 4448 2004-11-24  NaN      NaN  45.049999,
            Date         SPY  BTC_USD         GLD
 3400 2024-03-14  473.269989      NaN  200.350006
 3401 2024-03-15  470.010010      NaN  199.710007
 3402 2024-03-18  472.950012      NaN  200.029999
 3403 2024-03-19  475.600006      NaN  199.800003
 3404 2024-03-20  479.750000      NaN  202.179993)

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5905 entries, 4444 to 3404
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5905 non-null   datetime64[ns]
 1   SPY      3405 non-null   float64
 2   BTC_USD  3345 non-null   float64
 3   GLD      4866 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 230.7 KB

In [17]:
merged_df.tail(15)

           Date         SPY  BTC_USD         GLD
3390 2024-02-29  466.929993      NaN  189.309998
3391 2024-03-01  471.429993      NaN  192.889999
3392 2024-03-04  470.869995      NaN  196.009995
3393 2024-03-05  466.149994      NaN  197.190002
3394 2024-03-06  468.619995      NaN  198.809998
3395 2024-03-07  473.260010      NaN  199.940002
3396 2024-03-08  470.390015      NaN  201.630005
3397 2024-03-11  470.000000      NaN  202.000000
3398 2024-03-12  475.029999      NaN  199.789993
3399 2024-03-13  474.309998      NaN  201.190002
3400 2024-03-14  473.269989      NaN  200.350006
3401 2024-03-15  470.010010      NaN  199.710007
3402 2024-03-18  472.950012      NaN  200.029999
3403 2024-03-19  475.600006      NaN  199.800003
3404 2024-03-20  479.750000      NaN  202.179993

#### Data Integrity Testing

In [15]:
merged_df.corr()

             Date       SPY   BTC_USD       GLD
Date     1.000000  0.964996  0.754693  0.813661
SPY      0.964996  1.000000  0.883734  0.567145
BTC_USD  0.754693  0.883734  1.000000  0.769230
GLD      0.813661  0.567145  0.769230  1.000000